@page "/home/{UserId}"
@using OnlineRetailersStore.Data.Models
@using OnlineRetailersStore.Data
@inject NavigationManager nav

@code {
    [Parameter] public string UserId { get; set; }
    Sidebar sidebar;
    string account;
    string products;
    string shoppingCart;
    string orderHistory;
    string manageProducts;
    User user;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(UserId))
        {
            user = UserService.GetUserById(UserId);
            account = $"account/{UserId}";
            products = $"products/{UserId}";
            shoppingCart = $"shopping-cart/{UserId}";
            orderHistory = $"order-history/{UserId}";
            manageProducts = $"manage-products/{UserId}";
        }
        else
        {
            nav.NavigateTo("/");
        }
    }
}

<div class="sidebar-nav">
    <Sidebar @ref="sidebar">
        <SidebarContent>
            <SidebarBrand>
                <a href="/products">Online Retailers Store</a>
            </SidebarBrand>
            <SidebarNavigation>
                <SidebarItem>
                    <SidebarLink Title="Home">
                        <Icon Name="IconName.Home" Margin="Margin.Is3.FromRight" />Home
                    </SidebarLink>
                </SidebarItem>
                <SidebarItem>
                    <SidebarLink To=@account Title="Account">
                        <Icon Name="IconName.Fingerprint" Margin="Margin.Is3.FromRight" />Account
                    </SidebarLink>
                </SidebarItem>
                @if (!user.Retailer)
                {
                    <SidebarItem>
                        <SidebarLink To=@products Title="Products">
                            <Icon Name="IconName.Gift" Margin="Margin.Is3.FromRight" />Products
                        </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To=@shoppingCart Title="Shopping Cart">
                            <Icon Name="IconName.ShoppingCart" Margin="Margin.Is3.FromRight" />Shopping Cart
                        </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To=@orderHistory Title="Order History">
                            <Icon Name="IconName.History" Margin="Margin.Is3.FromRight" />Order History
                        </SidebarLink>
                    </SidebarItem>
                }
                else
                {
                    <SidebarItem>
                        <SidebarLink To=@manageProducts Title="Manage Products">
                            <Icon Name="IconName.CheckSquare" Margin="Margin.Is3.FromRight" />Manage Products
                        </SidebarLink>
                    </SidebarItem>
                }
                <SidebarItem>
                    <SidebarLink To="/" Title="Sign out">
                        <Icon Name="IconName.User" Margin="Margin.Is3.FromRight" />Sign out
                    </SidebarLink>
                </SidebarItem>
            </SidebarNavigation>
        </SidebarContent>
    </Sidebar>
</div>
<div class="content-wrap">
    <h1 class="center-header">Online Retailers Store</h1>
    <h2 class="center-header">Welcome @user.FirstName</h2>
</div>